@inherits ActionPreviewBase

<h2>Confirm Action: @CurrentAction.Description</h2>
<br />

[Available Times]
<br />

@foreach (var timeSlot in CurrentAction.BasicAction.TimeSlots)
{
    <text>- @timeSlot</text>
    <br />
}
<br />

[Requirements]
<br />

@foreach (var requirement in CurrentAction.BasicAction.Requirements)
{
    <span style="color: @GetRequirementColor(requirement)">
        - @GetRequirementDescription(requirement)
    </span>
    <br />
}
<br />

[Cost]
<br />
@foreach (var outcome in CurrentAction.BasicAction.Outcomes)
{
    @if (IsCost(outcome))
    {
        <span style="color: red">
            - @GetOutcomeDescription(outcome)
        </span>
        <br />
    }
}
<br />

[Rewards]
<br />
@foreach (var outcome in CurrentAction.BasicAction.Outcomes)
{
    @if (IsReward(outcome))
    {
        <span style="color: green">
            - @GetOutcomeDescription(outcome)
        </span>
        <br />
    }
}
<br />

<MenuOptions>
    <MenuOption Index="1" Text="Confirm" OnClick="HandleConfirm" />
    <BackOption OnBack="HandleBack" />
</MenuOptions>