@inherits EncounterViewBase

<div class="Encounter-container" @onmousemove="OnMouseMove">
    @if (GameState.Actions.CurrentEncounter != null)
    {
        <div class="Encounter-header">
            <h2>@GameState.Actions.CurrentEncounter.History.InitialSituation</h2>
        </div>
        <div class="Encounter-context">
            <div class="Encounter-stats">
                <div class="stat">
                    @GetValueTypeIcon(ValueTypes.Momentum)
                    <span class="stat-label">Momentum</span>
                    <span class="stat-value">
                        @GameState.Actions.CurrentEncounter.State.Momentum
                        @if (hoveredChoice != null)
                        {
                            int projectedChange = GetProjectedChange(ValueTypes.Momentum);
                            string projectedClass = projectedChange > 0 ? "positive" : (projectedChange < 0 ? "negative" : "");
                            <span class="stat-projected-change @projectedClass"> @GetProjectedValue(ValueTypes.Momentum)</span>
                        }
                    </span>
                </div>
                <div class="stat">
                    @GetValueTypeIcon(ValueTypes.Pressure)
                    <span class="stat-label">Pressure</span>
                    <span class="stat-value">
                        @GameState.Actions.CurrentEncounter.State.Pressure
                        @if (hoveredChoice != null)
                        {
                            int projectedChange = GetProjectedChange(ValueTypes.Pressure);
                            string projectedClass = projectedChange > 0 ? "positive" : (projectedChange < 0 ? "negative" : "");
                            <span class="stat-projected-change @projectedClass"> @GetProjectedValue(ValueTypes.Pressure)</span>
                        }
                    </span>
                </div>

                @foreach(KeyValuePair<ApproachTypes, int> ApproachType in @GameState.Actions.CurrentEncounter.State.ApproachTypesDic)
                {
                    if (ApproachType.Value > 0)
                    {
                        <div class="stat">
                            <span class="stat-label">@ApproachType.Key</span>
                        <span class="stat-value">
                            @ApproachType.Value
                        </span>
                    </div>
                    }
                }

                @foreach (KeyValuePair<FocusTypes, int> FocusType in @GameState.Actions.CurrentEncounter.State.FocusTypesDic)
                {
                    if (FocusType.Value > 0)
                   {
                       <div class="stat">
                            <span class="stat-label">@FocusType.Key</span>
                            <span class="stat-value">
                                @FocusType.Value
                            </span>
                        </div>
                    }
                }
            </div>

            <div class="Encounter-stage">
                <h3 class="choice-set-name">Choice Set Name</h3>
                <div class="stage-description">
                    @GameManager.EncounterSystem.GetActiveEncounter().History.InitialSituation
                </div>
            </div>

            <div class="Encounter-choices">
                @foreach (UserEncounterChoiceOption choice in GameState.Actions.CurrentChoiceOptions)
                {
                    <div class="choice-option @(IsChoiceDisabled(choice) ? "disabled" : "")
                         @(false ? "winning" : "" )
                         @(false ? "failing" : "")"
                         @onmousemove ="async (e) => await ShowTooltip(choice, e)"
                         @onmouseout="HideTooltip"
                         @onclick="() => HandleChoiceSelection(choice)">
                        <span class="choice-index">@choice.Index.</span>
                        <span class="choice-description">@choice.Description</span>
                    </div>
                }
            </div>
        </div>

        @if (showTooltip && hoveredChoice != null)
        {
            <EncounterChoiceTooltip Encounter="encounter" hoveredChoice="hoveredChoice" mouseX="mouseX" mouseY="mouseY"/>
        }
    }
</div>

<script src="js/tooltip.js"></script>