@inherits EncounterViewBase

<div class="encounter-container" @onmousemove="OnMouseMove">
    @if (GameState.Actions.CurrentEncounter != null)
    {
        <div class="encounter-header">
            <h2>@GameState.Actions.CurrentEncounter.Situation</h2>
        </div>
        <div class="encounter-context">
            <div class="encounter-stats">
                <div class="stat">
                    @GetValueTypeIcon(ChangeTypes.Momentum)
                    <span class="stat-label">Momentum</span>
                    <span class="stat-value">
                        @GameState.Actions.CurrentEncounter.GetCurrentStage().EncounterState.Momentum
                        @if (hoveredChoice != null)
                        {
                            int projectedChange = GetProjectedChange(ChangeTypes.Momentum);
                            string projectedClass = projectedChange > 0 ? "positive" : (projectedChange < 0 ? "negative" : "");
                            <span class="stat-projected-change @projectedClass"> @GetProjectedValue(ChangeTypes.Momentum)</span>
                        }
                    </span>
                </div
            </div>

            <div class="encounter-stage">
                <h3 class="choice-set-name">Choice Set Name</h3>
                <div class="stage-description">
                    @GameManager.EncounterSystem.GetCurrentStage(GameState.Actions.CurrentEncounter).Situation
                </div>
            </div>

            <div class="encounter-choices">
                @foreach (var choice in GameState.Actions.CurrentChoiceOptions)
                {
                    <div class="choice-option @(IsChoiceDisabled(choice) ? "disabled" : "")
                         @(false ? "winning" : "" )
                         @(false ? "failing" : "")"
                         @onmousemove ="async (e) => await ShowTooltip(choice, e)"
                         @onmouseout="HideTooltip"
                         @onclick="() => HandleChoiceSelection(choice)">
                        <span class="choice-index">@choice.Index.</span>
                        <span class="choice-description">@choice.Description (@choice.ChoiceType)</span>
                    </div>
                }
            </div>
        </div>

        @if (showTooltip && hoveredChoice != null)
        {
            <EncounterChoiceTooltip Encounter="Encounter" hoveredChoice="hoveredChoice" mouseX="mouseX" mouseY="mouseY"/>
        }
    }
</div>

<script src="js/tooltip.js"></script>