@inherits EncounterChoiceTooltipBase

<div class="tooltip" style="left: @(mouseX)px; top: @(mouseY)px;">
    <div class="preview-header">
        <h4>@hoveredChoice.Description</h4>
        <div class="choice-narrative">@hoveredChoice.Narrative</div>
    </div>
    <div class="tooltip-section">

        <h5>Changes</h5>
        <div class="tooltip-list">

            <div class="tooltip-item">
                <div class="tooltip-item-header">
                    <div class="tooltip-item-title">
                        <span class="tooltip-item-name">BaseMomentumChange</span>
                    </div>
                </div>
                <div class="tooltip-item-details">
                    <div class="tooltip-detail-line">@Preview.BaseMomentumChange</div>
                </div>
            </div>

            <div class="tooltip-item">
                <div class="tooltip-item-header">
                    <div class="tooltip-item-title">
                        <span class="tooltip-item-name">BasePressureChange</span>
                    </div>
                </div>
                <div class="tooltip-item-details">
                    <div class="tooltip-detail-line">@Preview.BasePressureChange</div>
                </div>
            </div>

            <div class="tooltip-item">
                <div class="tooltip-item-header">
                    <div class="tooltip-item-title">
                        <span class="tooltip-item-name">TagsActivated</span>
                    </div>
                </div>
                <div class="tooltip-item-details">
                    @foreach(EncounterTag tag in @Preview.TagsActivated)
                    {
                        <div class="tooltip-detail-line">@tag.Name</div>
                    }
                </div>
            </div>

            <div class="tooltip-item">
                <div class="tooltip-item-header">
                    <div class="tooltip-item-title">
                        <span class="tooltip-item-name">TagsDeactivated</span>
                    </div>
                </div>
                <div class="tooltip-item-details">
                    @foreach (EncounterTag tag in @Preview.TagsDeactivated)
                    {
                        <div class="tooltip-detail-line">@tag.Name</div>
                    }
                </div>
            </div>

            <div class="tooltip-item">
                <div class="tooltip-item-header">
                    <div class="tooltip-item-title">
                        <span class="tooltip-item-name">TagMomentumEffects</span>
                    </div>
                </div>
                <div class="tooltip-item-details">
                    @foreach (var tag in @Preview.TagMomentumEffects)
                    {
                        <div class="tooltip-detail-line">@tag.Key (@tag.Value)</div>
                    }
                </div>
            </div>

            <div class="tooltip-item">
                <div class="tooltip-item-header">
                    <div class="tooltip-item-title">
                        <span class="tooltip-item-name">TagPressureEffects</span>
                    </div>
                </div>
                <div class="tooltip-item-details">
                    @foreach (var tag in @Preview.TagPressureEffects)
                    {
                        <div class="tooltip-detail-line">@tag.Key (@tag.Value)</div>
                    }
                </div>
            </div>

            <div class="tooltip-item">
                <div class="tooltip-item-header">
                    <div class="tooltip-item-title">
                        <span class="tooltip-item-name">MomentumChange</span>
                    </div>
                </div>
                <div class="tooltip-item-details">
                    <div class="tooltip-detail-line">@Preview.MomentumChange</div>
                </div>
            </div>

            <div class="tooltip-item">
                <div class="tooltip-item-header">
                    <div class="tooltip-item-title">
                        <span class="tooltip-item-name">PressureChange</span>
                    </div>
                </div>
                <div class="tooltip-item-details">
                    <div class="tooltip-detail-line">@Preview.PressureChange</div>
                </div>
            </div>
        </div>
    </div>
</div>