@page "/"
@inherits ComponentBase

<div class="game-container">
    <CascadingValue Value="CurrentScreen">
        <GameScreen Screen="CurrentScreen">
            <MainGameScreen>
                <h2>Main Menu</h2>
                <MenuOptions>
                    <MenuOption Index="1" Text="New Game" OnClick="ToActionSelection" />
                    <BackOption Text="Exit Game" OnBack="ExitGame" />
                </MenuOptions>
            </MainGameScreen>

            <StatusScreen>
                <StatusInfo GameState="GameState" />
                <MenuOptions>
                    <br />
                    <BackOption OnBack="PopScreen" />
                </MenuOptions>
            </StatusScreen>

            <ActionSelectionScreen>
                <h2>Location: @GetCurrentLocation() (@GetCurrentTime())</h2>
                <MenuOptions>
                    @foreach (UserActionOption action in CurrentActions)
                    {
                        <MenuOption Index="action.Index"
                                    Text="@GetActionDescription(action)"
                                    IsDisabled="action.IsDisabled"
                                    OnClick="() => HandleActionSelection(action)" />
                    }
                    <br />
                    <BackOption OnBack="PopScreen" />
                </MenuOptions>
            </ActionSelectionScreen>

            <TravelScreen>
                <h2>Travel To</h2>
                <MenuOptions>
                    @foreach (var travelOption in CurrentTravelOptions)
                    {
                        <MenuOption Index="travelOption.Index"
                                    Text="@travelOption.Location.ToString()"
                                    OnClick="() => HandleTravel(travelOption.Index)" />
                    }
                    <br />
                    <BackOption OnBack="PopScreen" />
                </MenuOptions>
            </TravelScreen>

            <ActionNarrativeScreen>
                @if (GameState.CurrentNarrative != null)
                {
                    @if (GameState.CurrentNarrativeStage != null)
                    {
                        <h2>Current Situation</h2>
                        <p class="narrative-text">@GameState.CurrentNarrativeStage.Situation</p>
                        <MenuOptions>
                            @foreach (var choice in GameState.CurrentNarrativeStage.Choices)
                            {
                                var canExecute = ActionManager.CanExecuteChoice(GameState.CurrentNarrativeStage, choice.Index);
                                <MenuOption Index="choice.Index"
                                            Text="@choice.Description"
                                            IsDisabled="!canExecute"
                                            OnClick="() => HandleNarrativeChoice(choice.Index)" />
                            }
                            <br />
                            <BackOption OnBack="PopScreen" />
                        </MenuOptions>
                    }
                }
            </ActionNarrativeScreen>
            
            <ActionPreviewScreen>
                <ActionPreview
                    CurrentAction="CurrentUserAction"
                    OnActionConfirmed="HandleActionConfirmation"
                    OnBack="PopScreen" />
            </ActionPreviewScreen>
            <ActionResultScreen>
                <h2>Action Result</h2>
                <br />
                @if (LastActionResult != null)
                {
                    <text>[@(LastActionResult.IsSuccess ? "Success" : "Failure")]</text>
                    <br />
                    <br />
                    <text>[Results]</text>
                    <br />
                    @foreach (var message in ResultMessages)
                    {
                        <text>- @message</text>
                        <br />
                    }
                    <br />
                }
                <MenuOptions>
                    <MenuOption Index="1" Text="To Action Selection" OnClick="ToActionSelection" />
                    <BackOption OnBack="PopScreen" />
                </MenuOptions>
            </ActionResultScreen>

        </GameScreen>
    </CascadingValue>

    <ActionResultMessage Result="LastActionResult" />
</div>