@code {
    [Parameter] public GameState GameState { get; set; }
}

<div class="status-info">
    <h2>Current Status</h2>
    <br />

    [Location]
    <br />
     <text>- @GameState.CurrentLocation</text>
    <br />
    <br />

    [Base Stats]
    <br />
    <text>- Health: @GameState.Player.Health/@GameState.Player.MaxHealth</text>
    <br />
    <text>- Food: @GameState.Player.Inventory.Food</text>
    <br />
    <text>- Coins: @GameState.Player.Coins</text>
    <br />
    <br />

    [Energy]
    <br />
    <text>- Physical: @GameState.Player.PhysicalEnergy/@GameState.Player.MaxPhysicalEnergy</text>
    <br />
    <text>- Focus: @GameState.Player.FocusEnergy/@GameState.Player.MaxFocusEnergy</text>
    <br />
    <text>- Social: @GameState.Player.SocialEnergy/@GameState.Player.MaxSocialEnergy</text>
    <br/>
    <br />

    [Skills]
    <br />
    @foreach (var skill in GameState.Player.Skills)
    {
        <text>- @skill.Key: @skill.Value</text>
        <br/>
    }
    <br/>
</div>
