@code {
    [Parameter] public GameState GameState { get; set; }
}

<div class="status-info">
    <h2>Current Status</h2>
    <br />

    [Location]
    <br />
     <text>- @GameState.CurrentLocation</text>
    <br />
    <br />

    [Base Stats]
    <br />
    <text>- Health: @GameState.PlayerInfo.Health/@GameState.PlayerInfo.MaxHealth</text>
    <br />
    <text>- Food: @GameState.PlayerInventory.Food</text>
    <br />
    <text>- Coins: @GameState.PlayerInfo.Coins</text>
    <br />
    <br />

    [Energy]
    <br />
    <text>- Physical: @GameState.PlayerInfo.PhysicalEnergy/@GameState.PlayerInfo.MaxPhysicalEnergy</text>
    <br />
    <text>- Focus: @GameState.PlayerInfo.FocusEnergy/@GameState.PlayerInfo.MaxFocusEnergy</text>
    <br />
    <text>- Social: @GameState.PlayerInfo.SocialEnergy/@GameState.PlayerInfo.MaxSocialEnergy</text>
    <br/>
    <br />

    [Skills]
    <br />
    @foreach (var skill in GameState.PlayerInfo.Skills)
    {
        <text>- @skill.Key: @skill.Value</text>
        <br/>
    }
    <br/>
</div>
