@page "/"

@inherits GameUIBase

@namespace Wayfarer.Pages

<div class="game-container">
    @if (CurrentView == CurrentViews.MissingReferences)
    {
        <MissingReferences OnMissingReferencesResolved="ResolvedMissingReferences" />
    }
    else if (CurrentView == CurrentViews.CharacterScreen)
    {
        <CharacterCreation OnCharacterCreated="HandleCharacterCreated" />
    }
    else
    {
        <MainGameplayView CurrentView="@CurrentView" OnNavigate="@NavigateTo" />
    }
    <MusicSelector />
    <MusicPlayer />
</div>

@if (LoadingStateService != null)
{
    <LoadingIndicator IsVisible="@LoadingStateService.IsLoading"
                      Message="@LoadingStateService.Message"
                      ShowProgress="true"
                      Progress="@LoadingStateService.Progress" />
}
