@page "/"

@inherits GameUIBase

@namespace Wayfarer.Pages

@{
    Console.WriteLine($"[GameUI.razor] Rendering component. CurrentView: {CurrentView}");
}

<div class="game-container">
    <h1>TEST: GameUI is rendering!</h1>
    <p>CurrentView: @CurrentView</p>
    
    @if (CurrentView == CurrentViews.MissingReferences)
    {
        <MissingReferences OnMissingReferencesResolved="ResolvedMissingReferences" />
    }
    else if (CurrentView == CurrentViews.CharacterScreen)
    {
        <CharacterCreation OnCharacterCreated="HandleCharacterCreated" />
    }
    else
    {
        <MainGameplayView CurrentView="@CurrentView" OnNavigate="@NavigateTo" />
    }
    <MusicSelector />
    <MusicPlayer />
</div>

<LoadingIndicator IsVisible="@LoadingStateService.IsLoading"
                  Message="@LoadingStateService.Message"
                  ShowProgress="true"
                  Progress="@LoadingStateService.Progress" />
