@page "/"

@inherits GameUIBase

@namespace Wayfarer.Pages

<div class="game-container">
    <MainGameplayView CurrentView="@CurrentView" OnNavigate="@NavigateTo" />
</div>

@if (LoadingStateService != null)
{
    <LoadingIndicator IsVisible="@LoadingStateService.IsLoading"
                      Message="@LoadingStateService.Message"
                      ShowProgress="true"
                      Progress="@LoadingStateService.Progress" />
}