<script type="text/javascript">
    caches.delete("blazor-resources-/").then(function (e) {
        console.log("'blazor-resources-/' cache deleted");
    });
</script>
@{
    Console.WriteLine("[App.razor] Component is rendering!");
}
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @{
            Console.WriteLine($"[App.razor] Route found: {routeData.PageType}");
        }
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        @{
            Console.WriteLine("[App.razor] Route NOT found!");
        }
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>